p,
h1,
h2,
blockquote {
  margin: 1rem 0;
}

h1 {
  text-align: center;
}

h2 {
  border-bottom: solid 1px var(--ctp-macchiato-lavender);
}

body {
  margin: 0 5rem;
  min-width: 300px;
}

i {
  color: var(--ctp-macchiato-blue);
}

b {
  color: var(--ctp-macchiato-flamingo);
  font-weight: none;
}

blockquote p {
  padding: 1rem;
  border: 1px solid var(--ctp-macchiato-lavender);
  border-radius: 0.5rem;
  text-align: center;
}

.subsection {
  text-decoration: none;
  color: var(--ctp-macchiato-peach);
}

.subsection:target {
  color: var(--ctp-macchiato-green);
}

.green-accent {
  color: var(--ctp-macchiato-green);
}

#agree-btn {
  text-align: center;
  padding: 1rem 10rem;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  body {
    margin: 0 1rem;
  }
  #agree-btn {
    text-align: center;
    padding: 1rem 1rem;
    width: 80%;
  }
}
