@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
:root {
  font-size: 18px;
  font-family: "Fira Code", monospace;

  --bex-black: #282c34;
  --bex-darkblue: #212435;
  --bex-lightblue: #7e82a0;
  --bex-white: #fbfcff;
  --bex-red: #e06c75;

  --transition-speed: 0.5s;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--bex-darkblue);
  color: var(--bex-white);
}

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  line-height: 2rem;
}

img {
  transition: var(--transition-speed);
}

img:hover {
  transform: scale(1.1);
}

img {
  vertical-align: middle;
  width: 2rem;
}

.red-text {
  color: var(--bex-red);
}

.button {
  display: block;
  border: 2px solid var(--bex-lightblue);
  color: var(--bex-white);
  border-radius: 0.5rem;
  margin: 0.5rem;
  padding: 0.5em 1em;
  transition: var(--transition-speed);
  text-align: center;
}

.button:hover {
  border: 2px solid var(--bex-red);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
  overflow: auto;
  background-color: rgba(40, 44, 52, 0.5);
}

.modal-content {
  background-color: var(--bex-darkblue);
  margin: 20% auto;
  padding: 2rem;
  width: 25%;
  box-shadow: rgba(22, 25, 31, 0.5) 0px 8px 24px;
  border-radius: 1rem;
  animation-name: modalopen;
  animation-duration: var(--transition-speed);
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.closeBtn {
  float: right;
  font-size: 30px;
}

.closeBtn:focus,
.closeBtn:hover {
  cursor: pointer;
  color: var(--bex-red);
}
