@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");
:root {
  font-size: 18px;
  font-family: "Fira Code", monospace;

  --bex-black: #282c34;
  --bex-darkblue: #212435;
  --bex-white: #fbfcff;
  --bex-red: #e06c75;

  --transition-speed: 0.5s;
}

a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

body {
  margin: 0px;
  padding: 0px;
  display: grid;
  place-items: center;
  min-height: 100vh;
  background-color: var(--bex-darkblue);
  color: var(--bex-white);
}

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 1rem;
  line-height: 2rem;
}

a {
  font-size: 2rem;
  transition: 1s;
}

img {
  transition: var(--transition-speed);
}

img:hover {
  transform: scale(1.1);
}

img {
  vertical-align: middle;
  width: 2rem;
}

.red-text {
  color: var(--bex-red);
}
